@model Wardrobe.Models.Top

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Top</h4>
    <hr />
</div>

<div class="row details">
    <div class="col-lg-4 col-md-6 col-sm-12 thumbnail " ondragstart="dragStart(event)" ondrag="dragging(event)" draggable="true" id="dragtarget">


        <p><img src="@Html.DisplayFor(model => model.Photo)" height="100" width="100" /></p>

        <p class="comments"> @Html.DisplayFor(model => model.Name)</p>

        <p class="comments"> @Html.DisplayNameFor(model => model.Color): @Html.DisplayFor(model => model.Color)</p>

        <p class="comments">@Html.DisplayNameFor(model => model.Season): @Html.DisplayFor(model => model.Season)</p>

        <p class="comments">@Html.DisplayNameFor(model => model.Occasion):  @Html.DisplayFor(model => model.Occasion)</p>

        <p class="comments">
            @Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
        </p>


    </div>

</div>



<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TopID }) |
    @Html.ActionLink("Back to List", "Index") |
</p>

<div class="droptarget" ondrop="drop(event)" ondragover="allowDrop(event)"><i class="fas fa-trash-alt"></i></div>







